# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd

### Step 2. Run the below line of code to create a dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [3]:
pokemon=pd.Series(raw_data)
pokemon.to_frame()

                                                     0
name       [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution    [Ivysaur, Charmeleon, Wartortle, Metapod]
type                         [grass, fire, water, bug]
hp                                    [45, 39, 44, 45]
pokedex                             [yes, no, yes, no]

In [4]:
X=pd.DataFrame(raw_data)
X.T

                   0           1          2         3
name       Bulbasaur  Charmander   Squirtle  Caterpie
evolution    Ivysaur  Charmeleon  Wartortle   Metapod
type           grass        fire      water       bug
hp                45          39         44        45
pokedex          yes          no        yes        no

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution','pokedex']]
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [6]:
pokemon['place'] = ['balha','benipur','auntor','darbhanga']
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
pokedex                               [yes, no, yes, no]
place                [balha, benipur, auntor, darbhanga]
dtype: object

### Step 6. Display the data type of each column

In [7]:
pokemon.dtypes

dtype('O')